body {
  background-color: #1D2128;
}

.background {
  height: 100vh;
  position: fixed;
}

.header {
  background: #2D333B;
  padding: 10px;
}

.gitFind {
  color: #d7d7d7;
  text-align: center;
}

main {
  max-width: 840px;
  margin-top: 8vh;
  padding: 0 5vw;
  float: right;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: flex-start;
}

.search-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-input {
  width: 85%;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 100px;
  background: transparent;
}

.search-button {
  margin-left: 5vw;
  padding: 10px;
  background: #2D333B;
  border: 1px solid #999;
  border-radius: 100px;
  cursor: pointer;
}

.profile-wrapper {
  width: 100%;
  margin-top: 5vh;
  display: flex;
  gap: 4vw;
  padding-bottom: 2vh;
  border-bottom: 1px solid #999;
}

.repositories-wrapper {
  margin-top: 3.5vh;
}

.repositories-wrapper h2{
  text-align: center;
  color: #fff;
}

.repositories-list {
  margin-top: 3.5vh;
  display: flex;
  flex-direction: column;
  list-style: none;
}

@media only screen and (min-width: 1440px) {
  main {
    width: 100%;
    max-width: 75vw;
  }
}